<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta lang="fr">
    <title>{% block title %}Appli UPE2A{% endblock %}</title>

    <!-- Google development -->
    <link href="https://fonts.googleapis.com/css?family=Jura|Raleway"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet"/>

    <!-- Personal style sheets -->
    <link rel="stylesheet" href="{{ asset('build/css/style.css') }}"/>
    {% block stylesheets %}{% endblock %}
</head>
<body>
<nav id="navbar">
    <div id="brand"><a href="{{ path('core_home') }}">Accueil</a></div>
    <div class="dropdown">
        <button class="dropbtn">Tests</button>
        <div class="dropdown-content">
            <a href="{{ path('control_show', {'id': 1}) }}">Liste des tests</a>
            <a href="{{ path('control_show', {'id': 1}) }}">Liste des tests</a>
            <a href="{{ path('control_show', {'id': 1}) }}">Liste des tests</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">Vignettes</button>
        <div class="dropdown-content">
            <a href="{{ path('thumbnails_list') }}">Liste des vignettes</a>
        </div>
    </div>
</nav>
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
